<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PropertyMapper">
    
    <resultMap type="Property" id="PropertyResult">
        <result property="propertyId"    column="property_id"    />
        <result property="landlordId"    column="landlord_id"    />
        <result property="address"    column="address"    />
        <result property="rentPrice"    column="rent_price"    />
        <result property="deposit"    column="deposit"    />
        <result property="available"    column="available"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectPropertyVo">
        select property_id, landlord_id, address, rent_price, deposit, available, image_url, created_at from property
    </sql>

    <select id="selectPropertyList" parameterType="Property" resultMap="PropertyResult">
        <include refid="selectPropertyVo"/>
        <where>  
            <if test="landlordId != null "> and landlord_id = #{landlordId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="rentPrice != null "> and rent_price = #{rentPrice}</if>
            <if test="deposit != null "> and deposit = #{deposit}</if>
            <if test="available != null "> and available = #{available}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectPropertyByPropertyId" parameterType="Long" resultMap="PropertyResult">
        <include refid="selectPropertyVo"/>
        where property_id = #{propertyId}
    </select>

    <insert id="insertProperty" parameterType="Property" useGeneratedKeys="true" keyProperty="propertyId">
        insert into property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="landlordId != null">landlord_id,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="rentPrice != null">rent_price,</if>
            <if test="deposit != null">deposit,</if>
            <if test="available != null">available,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="landlordId != null">#{landlordId},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="rentPrice != null">#{rentPrice},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="available != null">#{available},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateProperty" parameterType="Property">
        update property
        <trim prefix="SET" suffixOverrides=",">
            <if test="landlordId != null">landlord_id = #{landlordId},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="rentPrice != null">rent_price = #{rentPrice},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="available != null">available = #{available},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where property_id = #{propertyId}
    </update>

    <delete id="deletePropertyByPropertyId" parameterType="Long">
        delete from property where property_id = #{propertyId}
    </delete>

    <delete id="deletePropertyByPropertyIds" parameterType="String">
        delete from property where property_id in 
        <foreach item="propertyId" collection="array" open="(" separator="," close=")">
            #{propertyId}
        </foreach>
    </delete>
</mapper>